.Logo {
    max-width: 168px;
}

@media (max-width: 800px) {
    .Logo {
        max-width: 105px;
    }
}

body {
    --bodyPaddingTop: 94px;
}

@media (max-width: 800px) {
    .Menu {
        height: 40px;
        justify-content: center;
    }
    body {
        --bodyPaddingTop: 40px;
        padding-top: var(--bodyPaddingTop);
    }
}
